[user]
	email = roji@roji.org
	name = Shay Rojansky
	signingkey = 20CEA609A91F7321

[pager]
	branch = false
        tag = false

[diff]
	wsErrorHighlight = all

[core]
;        pager = delta --theme='GitHub'
;        pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
;        pager = delta --plus-color="#012800" --minus-color="#340001"

[interactive]
;        diffFilter = delta --color-only

[checkout]
	defaultRemote = origin

[pull]
	rebase = true
